<h1><a href="<%= root_path %>">Shirts!</a></h1>

<a href="<%= new_shirt_path %>">+ Add a shirt</a>
<br>

<%= form_tag "/", :method => :get do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Find Shirts" %>
<% end %>
<ul>
	<!--each_with_index-->
	<% @shirts.each do |shirt| %>
		<li>
			<h2><a href="<%= shirt_path(shirt) %>"><%= shirt.name %></a></h2>
			<p><%= shirt.description %></p>
			<a href="<%= shirt_path(shirt) %>"><img src="<%= image_path(shirt.image) %>"></a>
			<a href="<%= edit_shirt_path(shirt) %>">Edit shirt</a>
		</li>
	<% end %>
</ul>